@mixin footer($a,$b,$c: 100%){
    position: $a;
    top: $b;
    height: $c;
}
@mixin font_size_color($d: 16px,$e: $font-footer){
    font-size: $d;
    color: $e;
}
@mixin flex_gap($f,$g){
    display: $f;
    gap: $g;
}

%flex_column {
    display: flex;
    flex-direction: column;
}

.footer {
    @include footer(relative,0,387px);
    background: linear-gradient(90deg, $bg-grad1 32.83%, $bg-grad2 81.56%);

    .container_footer {
        max-width: 1200px;
        padding: 63px 20px 0;
        margin: 0 auto;

        .info {
            display: flex;
            justify-content: space-between;

            .about_us {
                @extend %flex_column;
                gap: 15px;
                width: 270px;

                >p {
                    @include font_size_color(18px,$font-color);
                    font-family: 'Roboto-Bold';
                    text-transform: uppercase;
                    margin: 0;
                }

                .content {
                    @extend %flex_column;

                    p {
                        @include font_size_color();
                        margin: 0;
                    }
                }

                .content_logos {
                    @include flex_gap(flex,24px);

                    img {
                        width: 26px;
                        height: 17px;
                    }
                }
            }
        }
    }
    .container_footer-1{
        max-width: 1200px;
        padding: 63px 20px 0;
        margin: 0 auto;
        position: relative;

        .shop {
            @include footer(relative,50px,24px);
            @include flex_gap(flex,16px);
            @include font_size_color();
            align-items: center;

            p {
                @include font_size_color();
                margin: 0;
            }
        }
    }
    .white_line {
        @include footer(relative,72px,2px);
        background-color: $font-nav;
    }

}