.footer {
    height: 957px;

    .container {
        padding: 0 20px;

        .info {
            flex-direction: column;
            gap: 30px;
        }
        .shop {
            top: 175px;
            flex-direction: column;
            align-items: start;
            gap: 16px;

            .p_footer {
                margin: 0;
            }

        }
    }
    .white_line {
        top: 135px;
    }
}
.marg_foot {
    top: 100px;
}