.footer {
    height: 957px;

    .container_footer {
        padding: 62px 20px 0;

        .info {
            flex-direction: column;
            gap: 30px;
        }
    }
    .container_footer-1 {
        padding: 0 20px;

        .shop {
            top: 114px;
            flex-direction: column;
            align-items: start;
            gap: 16px;

            .p_footer {
                margin: 0;
            }

        }
    }
    .white_line {
        top: 75px;
    }
}
.marg_foot {
    top: 100px;
}