@mixin news_position($na,$nb){
    position: $na;
    top: $nb;
}

.page-news {
    @include news_position(relative,0);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 842px;

    h2 {
        @include news_position(relative,0px);
        color: $font-color;
        margin: 0;
    }

    .eminem {
        @include news_position(relative,48px);
        display: flex;
        gap: 50px;
        

        .em {
            background-image: url("../images/Music_to_Be_Murdered_By.png");
        }

    }

    .ozzy {
        @include news_position(relative,131px);
        display: flex;
        flex-direction: row-reverse;
        gap: 50px;

        .oz {
            background-image: url("../images/Ordinary_Man.png");
        }
    }
}

.cont {
    width: 575px;
    height: 286px;

    .album_name {
    font-size: 30px;
    color: $font-color;
    margin: 0;
    }

    .album_discr {
        @include news_position(relative,30px);
        font-size: 16px;
        color: $font-nav;
        margin: 0;
    }

    .logo_date {
        @include news_position(relative,55px);
        display: flex;
        gap: 16px;
        align-items: center;
        height: 19px;

        img {
            width: 19px;
            height: 19px;
        }

        .music_box {
            color: $font-oran;
            text-transform: uppercase;
        }
    }
    .to_album {
        @include news_position(relative,103px);
        width: 135px;
        height: 53px;
        background-color: transparent;
        border: 1px solid $font-nav;
        color: $font-nav;
        text-transform: uppercase;
        font-size: 12.8px;
        border-radius: 5px;
    }
}