.last_news {
    position: relative;
    top: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        color: $font-color;
        position: relative;
        margin: 0;
        top: 100px;
    }

    .eminem {
        position: relative;
        top: 148px;
        display: flex;
        gap: 50px;

        .em {
            background-image: url("/src/images/Music\ to\ Be\ Murdered\ By.png");
        }

    }
    .ozzy {
        position: relative;
        top: 213px;
        display: flex;
        flex-direction: row-reverse;
        gap: 50px;

        .oz {
            background-image: url("/src/images/Ordinary\ Man.png");
        }
    }
}

.cont {
    width: 575px;
    height: 286px;
}
.album_name {
    font-size: 30px;
    color: $font-color;
    margin: 0;
}
.album_discr {
    font-size: 16px;
    color: $font-nav;
    position: relative;
    margin: 0;
    top: 30px;
}
.logo_date {
    display: flex;
    gap: 16px;
    position: relative;
    top: 55px;
    align-items: center;
    height: 19px;

    .avatar {
        width: 19px;
        height: 19px;
    }
    .music_box {
        color: $font-oran;
        text-transform: uppercase;
    }
}
.to_album {
    width: 135px;
    height: 53px;
    background-color: transparent;
    border: 1px solid $font-nav;
    color: $font-nav;
    text-transform: uppercase;
    font-size: 12.8px;
    position: relative;
    top: 103px;
    border-radius: 5px;
}