.page-news {
    height: 1116px;
    padding: 100px 20px 0;
}

.page-news > .eminem {
    flex-direction: column;
    height: 492px;
    width: 374px;

    .em {
        height: 186px;
        width: 376px;
        background-size: cover;
    }

    .cont {
        height: 256px;

        .logo_date {
            top: 40px;
        }

        .to_album {
            top: 88px;
        }
    }
}

.page-news > .ozzy {
    flex-direction: column;
    position: relative;
    top: 112px;
    height: 485px;
    width: 374px;

    .oz {
        height: 186px;
        width: 376px;
        background-size: cover;
    }

}

.conts {
    width: 374px;
    height: 248px;
    background-size: cover;
}

    .album_name {
        font-size: 16px;
        color: $font-color;
    }

    .album_discr {
        top: 16px;
    }

    .logo_dates {
        top: 32px;
        font-size: 12.8px;
    }

    .to_albums {
        top: 80px;
        font-size: 12.8px;
    }


