.page-news {
    height: 1116px;
    padding: 100px 20px 0;
}

.eminem {
    flex-direction: column;
    height: 492px;
}

.page-news > .ozzy {
    flex-direction: column;
    position: relative;
    top: 112px;
    height: 485px;
}

.cont {
    width: 374px;
    height: 248px;
    background-size: cover;

    .album_name {
        font-size: 16px;
        color: $font-color;
    }

    .album_discr {
        top: 16px;
    }

    .logo_date {
        top: 40px;
        font-size: 12.8px;
    }

    .to_album {
        top: 88px;
        font-size: 12.8px;
    }
}