.mobile_app {
    position: relative;
    top: 360px;
    display: flex;
    flex-direction: column;

    h2 {
        color: $font-color;
        position: relative;
        margin: 0;
        top: 100px;
        text-align: center;
    }

    .mobile_cont {
        display: flex;
        position: relative;
        top: 148px;
        gap: 144px;
        padding-bottom: 100px;

        .mobile_text {
            width: 600px;
        }

        .download {
            width: 131px;
            height: 53px;
            background-color: $bg-button;
            color: $font-color;
            border-radius: 32px;
            font-size: 12.8px;
            font-family: 'Roboto';
        }


    }
}

