@mixin mobile_position($ma,$mb,$mc: block){
    position: $ma;
    top: $mb;
    display: $mc;
}

.page-app {
    @include mobile_position(relative,0,flex);
    flex-direction: column;
    height: 383px;
    padding: 100px 20px 0;
    margin-bottom: 100px;

    h2 {
        @include mobile_position(relative,0px);
        text-align: center;
        color: $font-color;
        margin: 0;
    }

    .mobile_cont {
        @include mobile_position(relative,48px,flex);
        gap: 144px;

        .mobile_text {
            width: 600px;
            height: 56px;
            margin: 16px 0 8px;
        }
        .mobile_text_2 {
            position: relative;
            width: 600px;
            margin: 0px 0 16px;
        }

        .download {
            width: 131px;
            height: 53px;
            background-color: $bg-button;
            color: $font-color;
            border-radius: 32px;
            font-size: 12.8px;
            font-family: 'Roboto';
        }


    }
}

