.page-app {
    height: 622px;
    padding: 100px 20px 0;

    .mobile_cont {
        flex-direction: column-reverse;
        gap: 0;
        height: 546px;

        .mobile_text {
            margin: 15px 0;
            height: 92px;
            width: 380px;
            position: relative;
            font-size: 16px;

        }
        .mobile_text_2 {
            position: relative;
            width: 384px;
        }
        .download {
            position: relative;
            border: 0;
        }
        .iphone {
            width: 333px;
            height: 278px;
            margin: 0 auto;
        }
    }
}