@mixin mobile_position($ma,$mb,$mc: block){
    position: $ma;
    top: $mb;
    display: $mc;
}

.mobile_app {
    @include mobile_position(relative,360px,flex);
    flex-direction: column;

    h2 {
        @include mobile_position(relative,100px);
        text-align: center;
        color: $font-color;
        margin: 0;
    }

    .mobile_cont {
        @include mobile_position(relative,148px,flex);
        gap: 144px;
        padding-bottom: 100px;

        .mobile_text {
            width: 600px;
        }

        .download {
            width: 131px;
            height: 53px;
            background-color: $bg-button;
            color: $font-color;
            border-radius: 32px;
            font-size: 12.8px;
            font-family: 'Roboto';
        }


    }
}

