.page-app {
    height: 622px;
    padding: 100px 20px 0;

    h2 {
        letter-spacing: -0.7px;
    }

    .mobile_cont {
        flex-direction: column-reverse;
        gap: 0;
        height: 546px;
        top: 48px;

        .text_mobile {
            position: relative;
            top: 2px;

            .mobile_text {
                margin: 14px 0 20px;
                height: 92px;
                width: 373px;
                position: relative;
                font-family: 'Roboto';
                letter-spacing: -0.4px;
            }
            .mobile_text_2 {
                position: relative;
                width: 373px;
                margin-bottom: 18px;
                letter-spacing: -0.4px;
            }
            .download {
                position: relative;
                border: 0;
            }
        }

        .iphone {
            width: 333px;
            height: 278px;
            margin: 0 auto;
        }

    }
}