.page-discography {
    @media only screen and (1240px <= width) {
        max-width: 1240px;
        }
        color: $font-color;
        margin: 0 auto;
        padding: 100px 20px 0;
        display: flex;
        flex-direction: column;
        height: 768px;

        h2 {
            margin: 0;
        }

        .high_1 {
            display: flex;
            gap: 50px;

            .high {
                display: flex;
                gap: 50px;
                position: relative;
                top: 48px;

                .album {
                    height: 319px;

                    .name {
                        margin: 18px 0 0;
                        font-family: Roboto-Bold, sans-serif;
                        line-height: 27px;
                        font-size: 18px;
                    }

                    .year {
                        margin: 0;
                        line-height: 24px;
                        font-size: 16px;
                    }
                }
            }

            .medium {
                @extend %.high;
            }
        }

        .low {
            display: flex;
            gap: 50px;
            position: relative;
            top: 73px;

            .albums {
                height: 319px;

                .names {
                    margin: 18px 0 0;
                    font-family: Roboto-Bold, sans-serif;
                    line-height: 27px;
                    font-size: 18px;
                }

                .years {
                    margin: 0;
                    line-height: 24px;
                    font-size: 16px;
                }
            }
        }
}