.page-popular-track {
    width: 374px;
    padding: 100px 20px 0;
    height: 530px;

    h2 {
        font-size: 18px;
    }

    .tracks {
        flex-direction: column;
        gap: 25px;
        width: 374px;


        .left {
            gap: 25px;
            flex-direction: column;

            .track {
                width: 374px;
            }
        }
    }
}