.page-similar {
    @media only screen and (min-width: 1240px) {
        max-width: 1240px;
        }
        color: $font-color;
        margin: 0 auto;
        padding: 100px 20px;
        display: flex;
        flex-direction: column;
        height: 768px;

        h2 {
            margin: 0;
        }

        .top_1 {
            margin-top: 48px;
        }
        .top_2 {
            margin-top: 25px;
        }

        .items {
            display: flex;
            gap: 50px;

            .two_items {
                @extend .items;

                .item {
                    text-align: center;
                    height: 319px;

                    img {
                        border-radius: 125px;
                    }

                    h3 {
                        font-size: 18px;
                        margin: 17px 0 0;
                    }

                    p {
                        font-size: 16px;
                        margin: 1px 0 0;
                    }
                }
            }
        }

}