.page-discography {
    width: 374px;
    padding: 100px 20px 0;
    height: 797px;

    h2 {
        font-size: 18px;
    }

    .high_1 {
        flex-direction: column;
        gap: 25px;
        position: relative;
        top: 48px;
        height: 464px;

        .high {
            flex-wrap: wrap;
            gap: 50px;
            top: 0;

            .album {
                height: 206px;
                width: 137px;

                img {
                    height: 137px;
                    width: 137px;
                }

                .name {
                    font-size: 18px;
                    width: 130px;
                }

                .name_1 {
                    width: 145px;
                }

                .year {
                    font-size: 16px;
                }
            }
        }

        .medium {
            @extend %.high;
        }
    }

    .low {
        top: 75px;
        height: 233px;

        .albums {
            height: 206px;
            width: 137px;

            .imgs {
                height: 137px;
                width: 137px;
            }

            .names {
                font-size: 18px;
                width: 130px;
            }

            .years {
                font-size: 16px;
            }
        }
    }
}
