.page-popular-track {
    @media only screen and (1240px <= width) {
        max-width: 1240px;
        }
        color: $font-color;
        margin: 0 auto;
        padding: 100px 20px 0;
        display: flex;
        flex-direction: column;
        height: 320px;

        h2 {
            font-size: 38px;
            font-family: Roboto-Bold, sans-serif;
            margin: 0;
        }

        .tracks {
            width: 1152px;
            display: flex;
            gap: 25px;
            height: 215px;
            top: 48px;
            position: relative;
            flex-direction: column;

            .left {
                display: flex;
                gap: 50px;
                align-content: space-between;
                flex-direction: row;

                .track {
                    width: 551px;
                    height: 55px;
                    display: flex;

                    img {
                        width: 55px;
                        height: 55px;
                    }

                    div {
                        padding-left: 15px;
                        display: flex;
                        flex-direction: column;
                        justify-content:  center;

                        .song {
                            margin: 0;
                            text-transform: uppercase;
                            font-size: 12.8px;
                            font-family: Roboto-Bold, sans-serif;
                        }

                        .perfomer {
                            margin: 0;
                            font-size: 12.8px;
                        }
                    }

                    .time {
                        flex-grow: 1;
                        display: flex;
                        justify-content: end;
                        font-size: 12.8px;
                    }
                }
            }
        }

}