%mar-pad {
    padding: 0;
    margin: 0;
}

%input {
    width: 374px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 0;
}

@mixin flex-aling($fa,$fb){
    flex-direction: $fa;
    align-items: $fb;
}

.page-description_3 {
    width: 374px;
    height: 625px;
    padding: 25px 20px 201px;
    font-family: Roboto, sans-serif;

    .container {
        width: 374px;
        margin: 0;
        height: 625px;

        .menu {
            @include flex-aling(column,start);
            gap: 0;
            height: 150px;

            .logo {
                width: 100%;
                height: 24px;
                gap: 16px;
                flex-grow: 0;
                font-family: Roboto-Bold, sans-serif;

                p {
                    height: 13px;
                    margin: 3px 0 9px;
                }
            }

            nav {
                position: relative;
                @extend %mar_pad;
                flex-grow: 0;
                top: 15px;
                font-family: Roboto, sans-serif;

                ul {
                    @include flex-aling(column,start);
                    @extend %mar-pad;
                    height: 61px;
                    gap: 3px;

                    li {
                        height: 13px;
                    }
                }
            }

            input {
                @extend %input;
                height: 30px;
                position: relative;
                top: 36px;
                border: 0;
            }
        }

        .page-description_1 {
            margin-top: 72px;
            text-align: center;
            height: 402px;

            p {
                top: 16px;
                width: 374px;
            }

            form {
                @include flex-aling(column,center);
                top: 33px;
                gap: 24px;

                input {
                    width: 374px;
                    font-family: Roboto sans-serif;
                    padding: 0 0 0 20px;
                }

                .submit {
                    @extend %input;
                    @extend %mar-pad;
                    text-align: center;
                    border: 0;
                }
            }
        }
    }
}