@mixin display_gap($ga,$gb){
    display: $ga;
    gap: $gb;
}
@mixin w_h($z1,$z2,$z3,$z4,$z5,$z6,$z7,$z8){
    width: $z1;
    height: $z2;
    background-color: $z3;
    border-radius: $z4;
    padding: $z5;
    color: $z6;
    font-size: $z7;
    text-transform: $z8;
}

body {
    margin: 0;
}
    .header {
        background-image: url("/src/images/banner.png");
        background-position: center;
        background-size: cover;
        padding: 25px 0 200px;

        .container {
            max-width: 1200px;
            margin: 0 auto;

            .menu {
                @include display_gap(flex,2.5%);
                align-items: center;
                height: 25px;
                padding: 0;
                font-size: 11px;
                text-transform: uppercase;
                font-family: 'Roboto';

                .logo {
                    @include display_gap(flex,15%);
                    flex-grow: 0.2;
                    width: 25px;
                    align-items: center;
                    color: $font-color;
                }

                nav {
                    flex-grow: 0.9;
                    color: $font-nav;

                    ul {
                        @include display_gap(flex,3%);
                        list-style: none;
                    }
                }
                input {
                    @include w_h(248px,25px,$bg-search,50px,5px 180px 5px 10px,$font-color-dark,13.3px,uppercase);
                    font-family: 'Arial';
                }
            }

            .page-description {
                @media only screen and (min-width: 1240px) {
                    max-width: 1200px;
                }
                margin-top: 150px;
                color: $font-color;
                display: flex;
                flex-direction: column;
                align-items: center;

                h1 {
                    margin: 0;
                    font-family: 'Roboto-Bold';
                }

                h2 {
                    margin: 0;
                    font-family: 'Roboto-Bold';
                }

                p {
                    margin:0;
                    position: relative;
                    top: 31px;
                    font-size: 16px;
                }

                form {
                    @include display_gap(flex,24px);
                    max-width: 570px;
                    flex-wrap: wrap;
                    position: relative;
                    top: 48px;

                    input {
                        min-width: 273px;
                        min-height: 50px;
                        padding-left: 20px;
                        border: solid 2px $font-nav;
                        border-radius: 3px;
                        box-sizing: border-box;
                        background: transparent;

                        &::placeholder {
                            color: $font-color;
                            font-family: 'Roboto-Bold';
                            font-size: 14px;
                        }
                    }

                    .submit {
                        @include w_h(570px,57px,$bg-submit,5px,21px 220px,$font-color,13px,uppercase);
                        box-sizing: border-box;
                    }
                }
            }
        }
    }