%mar_pad {
    padding: 0;
    margin: 0;
}
%input {
    width: 374px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 0;
}
@mixin flex_aling($fa,$fb){
    flex-direction: $fa;
    align-items: $fb;
}

.page-description {
    width: 374px;
    height: 625px;
    padding: 27px 20px 200px;

    .container {
        width: 374px;
        margin: 0;

        .menu {
            @include flex_aling(column,start);
            gap: 17px;

            .logo {
                width: 100%;
                height: 24px;
                gap: 4%;
            }

            nav {
                position: relative;
                @extend %mar_pad;

                ul {
                    @include flex_aling(column,start);
                    gap: 3px;
                    @extend %mar_pad;
                }
            }

            input {
                @extend %input;
            }
        }

        .page-description_1 {
            margin-top: 199px;
            text-align: center;

            p {
                top: 16px;
            }

            form {
                @include flex_aling(column,center);
                top: 32px;

                input {
                    width: 374px;
                    box-sizing: border-box;
                }
                .submit {
                    @extend %input;
                    @extend %mar_pad;
                    text-align: center;
                }
            }
        }
    }
}