%value {
    height: 64px;
    font-size: 64px;
    color: $font-color;
    display: flex;
    align-items: center;
    justify-content: end;
}
@mixin subscr_pos($sa,$sb){
    position: $sa;
    top: $sb;
}

.container {
    max-width: 1240px;
    margin: 0 auto;

    .page-pricing {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 808px;
        padding: 100px 20px 0;

        h2 {
            @include subscr_pos(relative,0px);
            color: $font-color;
            margin: 0;
            letter-spacing: -0.7px;
        }

        .forms {
            @include subscr_pos(relative,45px);
            display: flex;
            gap: 50px;
            width: 100%;
            margin: 0;

            .free {
                background-image: url("../images/subscribe_1.png");
            }
            .standart {
                background-image: url("../images/subscribe_2.png");
            }
            .premium {
                background-image: url("../images/subscribe_3.png");
            }
        }

        .subsc_parag {
            @include subscr_pos(relative,88px);
            text-align: center;
            color: $font-color;
            margin: 0;
            font-size: 16px;
            height: 64px;
        }
    }

    .form_size {
        width: 368px;
        height: 615px;
        background-size: cover;
        border-radius: 1rem;

        .form_type {
            font-size: 24px;
            text-transform: uppercase;
            color: $font-color;
            text-align: center;
        }

        .price {
            @include subscr_pos(relative,176px);
            left: 86px;
            display: flex;
            gap: 16px;
            margin: 0;

            .value_1 {
                @extend %value;
                width: 72px;
            }

            .value_2_3 {
                @extend %value;
                width: 108px;
            }

            .currency {
                font-size: 32px;
                color: $font-color;
                text-transform: uppercase;
            }
        }

        button {
            @include subscr_pos(relative,216px);
            left: 24px;
            width: 318px;
            height: 66px;
            background-color: transparent;
            border: 1px solid $font-color;
            color: $font-color;
            text-transform: uppercase;
            font-size: 16px;
            border-radius: 5px;
            padding: 0;
        }

        .form_parag {
            @include subscr_pos(relative,280px);
            width: 319px;
            text-align: center;
            font-size: 12.8px;
            color: $font-color;
            margin: 0;
            padding-left: 22px;
            letter-spacing: -0.3px;
        }
    }
}