main {
    padding: 0 0;

    .container {
        width: 414px;
        margin: 0;

        .page-pricing {
            height: 2120px;
            padding: 100px 20px 0;

            h2 {
                font-size: 18px;
                letter-spacing: -0.7px;
            }

            .forms {
                flex-direction: column;
                align-items: center;
                gap: 50px;
                top: 47px;

                .form_size {
                    width: 374px;
                    height: 595px;
                    background-position: top;

                    .form_type {
                        font-size: 16px;
                        text-transform: uppercase;
                        text-align: center;
                    }

                    .price {
                        top: 184px;
                    }

                    button {
                        width: 326px;
                        top: 226px;
                    }

                    .form_parag {
                        top: 289px;
                        width: 326px;
                    }
                }
                .free {
                    height: 598px;
                }
            }

            .subsc_parag {
                height: 120px;
                letter-spacing: -0.3px;
                top: 85px;
            }
        }
    }
}


