$font-color: #fff;
$font-nav: #cacaca;
$font-color-dark: #757575;
$bg-search: #3c3b3d;
$bg-submit: #34c176;
$bg-dark: #08020d;
$font-oran: #F89202;
$bg-button: #95390C;
$bg-grad1: #5328A1;
$bg-grad2: #95390C;
$font-footer: #E0E0E0;