@font-face {
  font-family: Roboto;
  src: url("/src/fonts/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Arial;
  src: url("/src/fonts/arialmt.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Roboto-Bold;
  src: url("/src/fonts/Roboto-Bold.ttf");
  font-weight: 700;
  font-style: bold;
}
body {
  margin: 0;
}

@media only screen and (min-width: 1240px) {
  .page-description {
    max-width: 1200px;
  }
}

.header {
  background-image: url("/src/images/banner.png");
  background-position: center;
  background-size: cover;
  padding: 25px 0 200px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.menu {
  display: flex;
  gap: 2.5%;
  align-items: center;
  height: 25px;
  padding: 0;
  font-size: 11px;
  text-transform: uppercase;
  font-family: "Roboto";
}

.logo {
  display: flex;
  gap: 15%;
  flex-grow: 0.2;
  width: 25px;
  align-items: center;
  color: #ffffff;
}

.nav {
  display: flex;
  gap: 3%;
  list-style: none;
}

.nav-list {
  flex-grow: 0.9;
  color: #cacaca;
}

.search {
  width: 248px;
  height: 25px;
  background-color: #3c3b3d;
  border-radius: 50px;
  padding: 5px 180px 5px 10px;
  color: #757575;
  font-size: 13.3px;
  font-family: "Arial";
  text-transform: uppercase;
}

.page-description {
  margin-top: 150px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title_1 {
  margin: 0;
  font-family: "Roboto-Bold";
}

.title_2 {
  margin: 0;
  font-family: "Roboto-Bold";
}

.title_p {
  margin: 0;
  position: relative;
  top: 31px;
  font-size: 16px;
}

.input {
  min-width: 273px;
  min-height: 50px;
  padding-left: 20px;
  border: solid 2px #cacaca;
  border-radius: 3px;
  box-sizing: border-box;
  background: transparent;
}

.input::placeholder {
  color: #ffffff;
  font-family: "Roboto-Bold";
  font-size: 14px;
}

.submit {
  min-width: 570px;
  min-height: 57px;
  background-color: #34c176;
  border-radius: 5px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 21px 220px;
  box-sizing: border-box;
  font-size: 13px;
}

.form {
  display: flex;
  max-width: 570px;
  flex-wrap: wrap;
  position: relative;
  top: 48px;
  gap: 24px;
}

body {
  font-family: "Roboto";
  line-height: 1.5;
  color: #cacaca;
  background-color: #08020d;
}

h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
  text-transform: uppercase;
}

.subscription {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscription h2 {
  color: #ffffff;
  position: relative;
  margin: 0;
  top: 101px;
}
.subscription .forms {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0;
  top: 146px;
}
.subscription .forms .free {
  background-image: url("/src/images/subscribe_1.png");
}
.subscription .forms .standart {
  background-image: url("/src/images/subscribe_2.png");
}
.subscription .forms .premium {
  background-image: url("/src/images/subscribe_3.png");
}
.subscription .subsc_parag {
  text-align: center;
  color: #ffffff;
  position: relative;
  margin: 0;
  top: 189px;
}

.form_size {
  width: 370px;
  height: 615px;
  background-size: cover;
}
.form_size .form_type {
  font-size: 24px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}
.form_size .price {
  position: relative;
  margin: 0;
  top: 176px;
  left: 86px;
  display: flex;
  gap: 16px;
}
.form_size .price .value_1 {
  height: 64px;
  font-size: 64px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 72px;
}
.form_size .price .value_2_3 {
  height: 64px;
  font-size: 64px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 108px;
}
.form_size .price .currency {
  font-size: 32px;
  color: #ffffff;
  text-transform: uppercase;
}
.form_size .subscribe {
  width: 320px;
  height: 66px;
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  position: relative;
  top: 216px;
  left: 22px;
  border-radius: 5px;
}
.form_size .form_parag {
  text-align: center;
  font-size: 12.8px;
  color: #ffffff;
  width: 319px;
  position: relative;
  margin: 0;
  top: 280px;
  padding-left: 22px;
}

.last_news {
  position: relative;
  top: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.last_news h2 {
  color: #ffffff;
  position: relative;
  margin: 0;
  top: 100px;
}
.last_news .eminem {
  position: relative;
  top: 148px;
  display: flex;
  gap: 50px;
}
.last_news .eminem .em {
  background-image: url("/src/images/Music to Be Murdered By.png");
}
.last_news .ozzy {
  position: relative;
  top: 213px;
  display: flex;
  flex-direction: row-reverse;
  gap: 50px;
}
.last_news .ozzy .oz {
  background-image: url("/src/images/Ordinary Man.png");
}

.cont {
  width: 575px;
  height: 286px;
}

.album_name {
  font-size: 30px;
  color: #ffffff;
  margin: 0;
}

.album_discr {
  font-size: 16px;
  color: #cacaca;
  position: relative;
  margin: 0;
  top: 30px;
}

.logo_date {
  display: flex;
  gap: 16px;
  position: relative;
  top: 55px;
  align-items: center;
  height: 19px;
}
.logo_date .avatar {
  width: 19px;
  height: 19px;
}
.logo_date .music_box {
  color: #F89202;
  text-transform: uppercase;
}

.to_album {
  width: 135px;
  height: 53px;
  background-color: transparent;
  border: 1px solid #cacaca;
  color: #cacaca;
  text-transform: uppercase;
  font-size: 12.8px;
  position: relative;
  top: 103px;
  border-radius: 5px;
}

.mobile_app {
  position: relative;
  top: 360px;
  display: flex;
  flex-direction: column;
}
.mobile_app h2 {
  color: #ffffff;
  position: relative;
  margin: 0;
  top: 100px;
  text-align: center;
}
.mobile_app .mobile_cont {
  display: flex;
  position: relative;
  top: 148px;
  gap: 144px;
  padding-bottom: 100px;
}
.mobile_app .mobile_cont .mobile_text {
  width: 600px;
}
.mobile_app .mobile_cont .download {
  width: 131px;
  height: 53px;
  background-color: #95390C;
  color: #ffffff;
  border-radius: 32px;
  font-size: 12.8px;
  font-family: "Roboto";
}

.footer {
  background: linear-gradient(90deg, #5328A1, #95390C);
  position: relative;
  top: 510px;
  height: 387px;
}
.footer .white_line {
  height: 2px;
  background-color: #cacaca;
  position: relative;
  top: 132px;
}
.footer .info {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 62px;
}
.footer .info .about_us {
  width: 270px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer .info .about_us .name {
  font-family: "Roboto-Bold";
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}
.footer .info .about_us .content {
  display: flex;
  flex-direction: column;
}
.footer .info .about_us .content .p_footer {
  margin: 0;
  font-size: 16px;
  color: #E0E0E0;
}
.footer .info .about_us .content .logo_footer {
  width: 22px;
  height: 19px;
}
.footer .info .about_us .content_logos {
  display: flex;
  gap: 24px;
}
.footer .shop {
  display: flex;
  gap: 16px;
  position: relative;
  top: 172px;
  height: 24px;
  align-items: center;
  font-size: 16px;
  color: #E0E0E0;
}