@font-face {
  font-family: Roboto;
  src: url("/src/fonts/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Arial;
  src: url("/src/fonts/arialmt.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Roboto-Bold;
  src: url("/src/fonts/Roboto-Bold.ttf");
  font-weight: 700;
  font-style: bold;
}
body {
  margin: 0;
}

.page-description_3 {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
  padding: 25px 0 200px;
  height: 525px;
}
.page-description_3 .container {
  max-width: 1200px;
  margin: 0 auto;
}
.page-description_3 .container .menu {
  display: flex;
  gap: 2.5%;
  align-items: center;
  height: 25px;
  padding: 0;
  font-size: 11px;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
}
.page-description_3 .container .menu .logo {
  display: flex;
  gap: 15%;
  flex-grow: 0.2;
  width: 25px;
  align-items: center;
  color: #ffffff;
}
.page-description_3 .container .menu nav {
  flex-grow: 0.9;
  color: #cacaca;
}
.page-description_3 .container .menu nav ul {
  display: flex;
  gap: 3%;
  list-style: none;
}
.page-description_3 .container .menu input {
  width: 248px;
  height: 25px;
  background-color: #3c3b3d;
  border-radius: 50px;
  padding: 5px 180px 5px 10px;
  color: #757575;
  font-size: 13.3px;
  text-transform: uppercase;
  font-family: Arial, sans-serif;
}
.page-description_3 .container .page-description_1 {
  margin-top: 150px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 1240px) {
  .page-description_3 .container .page-description_1 {
    max-width: 1200px;
  }
}
.page-description_3 .container .page-description_1 h1 {
  margin: 0;
  font-family: Roboto-Bold, sans-serif;
}
.page-description_3 .container .page-description_1 h2 {
  margin: 0;
  font-family: Roboto-Bold, sans-serif;
}
.page-description_3 .container .page-description_1 p {
  margin: 0;
  position: relative;
  top: 31px;
  font-size: 16px;
}
.page-description_3 .container .page-description_1 form {
  display: flex;
  gap: 24px;
  max-width: 570px;
  flex-wrap: wrap;
  position: relative;
  top: 48px;
}
.page-description_3 .container .page-description_1 form input {
  min-width: 273px;
  min-height: 50px;
  padding-left: 20px;
  border: solid 2px #cacaca;
  border-radius: 3px;
  box-sizing: border-box;
  background: transparent;
}
.page-description_3 .container .page-description_1 form input::placeholder {
  color: #ffffff;
  font-family: Roboto-Bold, sans-serif;
  font-size: 14px;
}
.page-description_3 .container .page-description_1 form .submit {
  width: 570px;
  height: 57px;
  background-color: #34c176;
  border-radius: 5px;
  padding: 21px 220px;
  color: #ffffff;
  font-size: 13px;
  text-transform: uppercase;
  box-sizing: border-box;
  border-color: #34c176;
}

body {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  color: #cacaca;
  background-color: #08020d;
}

h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
  text-transform: uppercase;
}

.container .form_size .price .value_2_3, .container .form_size .price .value_1 {
  height: 64px;
  font-size: 64px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: end;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}
.container .page-pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 808px;
  padding: 100px 20px 0;
}
.container .page-pricing h2 {
  position: relative;
  top: 0px;
  color: #ffffff;
  margin: 0;
  letter-spacing: -0.7px;
}
.container .page-pricing .forms {
  position: relative;
  top: 45px;
  display: flex;
  gap: 50px;
  width: 100%;
  margin: 0;
}
.container .page-pricing .forms .free {
  background-image: url("../images/subscribe_1.png");
}
.container .page-pricing .forms .standart {
  background-image: url("../images/subscribe_2.png");
}
.container .page-pricing .forms .premium {
  background-image: url("../images/subscribe_3.png");
}
.container .page-pricing .subsc_parag {
  position: relative;
  top: 88px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  font-size: 16px;
  height: 64px;
  letter-spacing: -0.3px;
}
.container .form_size {
  width: 368px;
  height: 615px;
  background-size: cover;
  border-radius: 1rem;
}
.container .form_size .form_type {
  font-size: 24px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}
.container .form_size .price {
  position: relative;
  top: 176px;
  left: 86px;
  display: flex;
  gap: 16px;
  margin: 0;
}
.container .form_size .price .value_1 {
  width: 72px;
}
.container .form_size .price .value_2_3 {
  width: 108px;
}
.container .form_size .price .currency {
  font-size: 32px;
  color: #ffffff;
  text-transform: uppercase;
}
.container .form_size button {
  position: relative;
  top: 216px;
  left: 24px;
  width: 318px;
  height: 66px;
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  border-radius: 5px;
  padding: 0;
}
.container .form_size .form_parag {
  position: relative;
  top: 280px;
  width: 319px;
  text-align: center;
  font-size: 12.8px;
  color: #ffffff;
  margin: 0;
  padding-left: 22px;
}

.page-news {
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 742px;
  padding: 100px 20px 0;
}
.page-news h2 {
  position: relative;
  top: 0;
  color: #ffffff;
  margin: 0;
}
.page-news .eminem {
  position: relative;
  top: 48px;
  display: flex;
  gap: 50px;
}
.page-news .eminem .em {
  background-image: url("../images/Music_to_Be_Murdered_By.png");
  width: 575px;
  height: 286px;
}
.page-news .ozzy {
  position: relative;
  top: 113px;
  display: flex;
  flex-direction: row-reverse;
  gap: 50px;
}
.page-news .ozzy .oz {
  background-image: url("../images/Ordinary_Man.png");
  width: 575px;
  height: 286px;
}

.cont {
  width: 575px;
  height: 286px;
}
.cont .album_name {
  font-size: 30px;
  color: #ffffff;
  margin: 0;
}
.cont .album_discr {
  position: relative;
  top: 30px;
  font-size: 16px;
  color: #cacaca;
  margin: 0;
}
.cont .logo_date {
  position: relative;
  top: 55px;
  display: flex;
  gap: 16px;
  align-items: center;
  height: 19px;
}
.cont .logo_date img {
  width: 19px;
  height: 19px;
}
.cont .logo_date .music_box {
  color: #F89202;
  text-transform: uppercase;
}
.cont .to_album {
  position: relative;
  top: 103px;
  width: 135px;
  height: 53px;
  background-color: transparent;
  border: 1px solid #cacaca;
  color: #cacaca;
  text-transform: uppercase;
  font-size: 12.8px;
  border-radius: 5px;
}

.page-app {
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  height: 383px;
  padding: 100px 20px 0;
  margin-bottom: 100px;
}
.page-app h2 {
  position: relative;
  top: 0;
  display: block;
  text-align: center;
  color: #ffffff;
  margin: 0;
}
.page-app .mobile_cont {
  position: relative;
  top: 48px;
  display: flex;
  gap: 144px;
}
.page-app .mobile_cont .mobile_text {
  width: 600px;
  height: 56px;
  margin: 16px 0 8px;
}
.page-app .mobile_cont .mobile_text_2 {
  position: relative;
  width: 600px;
  margin: 8px 0 16px;
}
.page-app .mobile_cont .download {
  width: 131px;
  height: 53px;
  background-color: #95390C;
  color: #ffffff;
  border-radius: 32px;
  font-size: 12.8px;
  font-family: Roboto, sans-serif;
}

.footer .container_footer .info .about_us .content, .footer .container_footer .info .about_us {
  display: flex;
  flex-direction: column;
}

.footer {
  position: relative;
  top: 0;
  height: 387px;
  background: linear-gradient(90deg, #5328A1 32.83%, #95390C 81.56%);
}
.footer .container_footer {
  max-width: 1200px;
  padding: 63px 20px 0;
  margin: 0 auto;
}
.footer .container_footer .info {
  display: flex;
  justify-content: space-between;
}
.footer .container_footer .info .about_us {
  gap: 15px;
  width: 270px;
}
.footer .container_footer .info .about_us > p {
  font-size: 18px;
  color: #ffffff;
  font-family: Roboto-Bold, sans-serif;
  text-transform: uppercase;
  margin: 0;
}
.footer .container_footer .info .about_us .content p {
  font-size: 16px;
  color: #E0E0E0;
  margin: 0;
}
.footer .container_footer .info .about_us .content_logos {
  display: flex;
  gap: 24px;
}
.footer .container_footer .info .about_us .content_logos img {
  width: 26px;
  height: 17px;
}
.footer .container_footer-1 {
  max-width: 1200px;
  padding: 63px 20px 0;
  margin: 0 auto;
  position: relative;
}
.footer .container_footer-1 .shop {
  position: relative;
  top: 50px;
  height: 24px;
  display: flex;
  gap: 16px;
  font-size: 16px;
  color: #E0E0E0;
  align-items: center;
}
.footer .container_footer-1 .shop p {
  font-size: 16px;
  color: #E0E0E0;
  margin: 0;
}
.footer .white_line {
  position: relative;
  top: 72px;
  height: 2px;
  background-color: #cacaca;
}

.morten {
  background-image: url("../images/Morten Harket.png");
  background-position: center;
  background-size: cover;
  height: 488px;
}

.page-description {
  background-image: url("../images/Morten Harket.png");
  background-position: center;
  background-size: cover;
  height: 713px;
}
.page-description .container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 25px 20px 223px;
  height: 462px;
}
.page-description .container .menu {
  display: flex;
  gap: 2.5%;
  align-items: center;
  height: 25px;
  padding: 0;
  font-size: 11px;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
}
.page-description .container .menu .logo {
  display: flex;
  gap: 15%;
  flex-grow: 0.2;
  width: 25px;
  align-items: center;
  color: #ffffff;
}
.page-description .container .menu nav {
  flex-grow: 0.9;
  color: #cacaca;
}
.page-description .container .menu nav ul {
  display: flex;
  gap: 3%;
  list-style: none;
}
.page-description .container .menu input {
  width: 248px;
  height: 25px;
  background-color: #3c3b3d;
  border-radius: 50px;
  padding: 5px 180px 5px 10px;
  color: #757575;
  font-size: 13.3px;
  text-transform: uppercase;
  font-family: Arial, sans-serif;
}
.page-description .container .page-description_2 {
  margin-top: 200px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 1240px) {
  .page-description .container .page-description_2 {
    max-width: 1200px;
  }
}
.page-description .container .page-description_2 h1 {
  margin: 0;
  font-family: Roboto-Bold, sans-serif;
}
.page-description .container .page-description_2 h2 {
  margin: 0;
  font-family: Roboto-Bold, sans-serif;
}
.page-description .container .page-description_2 p {
  margin: 0;
  position: relative;
  top: 16px;
  font-size: 16px;
}
.page-description .container .page-description_2 form {
  display: flex;
  gap: 24px;
  max-width: 424px;
  flex-wrap: wrap;
  position: relative;
  top: 64px;
}
.page-description .container .page-description_2 form .btn {
  min-width: 200px;
  min-height: 62px;
  padding-left: 31px;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 12.8px;
  color: #ffffff;
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 16px;
  padding-top: 0;
  padding-bottom: 0;
}
.page-description .container .page-description_2 form .btn svg {
  width: 20px;
  height: 20px;
}
.page-description .container .page-description_2 form .purple {
  background-color: #5328A1;
}
.page-description .container .page-description_2 form .red {
  background-color: #95390C;
}

.page-popular-track {
  color: #ffffff;
  margin: 0 auto;
  padding: 100px 20px 0;
  display: flex;
  flex-direction: column;
  height: 320px;
}
@media only screen and (min-width: 1240px) {
  .page-popular-track {
    max-width: 1240px;
  }
}
.page-popular-track h2 {
  font-size: 38px;
  font-family: Roboto-Bold, sans-serif;
  margin: 0;
}
.page-popular-track .tracks {
  width: 1152px;
  display: flex;
  gap: 25px;
  height: 215px;
  top: 48px;
  position: relative;
  flex-direction: column;
}
.page-popular-track .tracks .left {
  display: flex;
  gap: 50px;
  align-content: space-between;
  flex-direction: row;
}
.page-popular-track .tracks .left .track {
  width: 551px;
  height: 55px;
  display: flex;
}
.page-popular-track .tracks .left .track img {
  width: 55px;
  height: 55px;
}
.page-popular-track .tracks .left .track div {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.page-popular-track .tracks .left .track div .song {
  margin: 0;
  text-transform: uppercase;
  font-size: 12.8px;
  font-family: Roboto-Bold, sans-serif;
}
.page-popular-track .tracks .left .track div .perfomer {
  margin: 0;
  font-size: 12.8px;
}
.page-popular-track .tracks .left .track .time {
  flex-grow: 1;
  display: flex;
  justify-content: end;
  font-size: 12.8px;
}

.page-discography {
  color: #ffffff;
  margin: 0 auto;
  padding: 100px 20px 0;
  display: flex;
  flex-direction: column;
  height: 768px;
}
@media only screen and (min-width: 1240px) {
  .page-discography {
    max-width: 1240px;
  }
}
.page-discography h2 {
  margin: 0;
}
.page-discography .high_1 {
  display: flex;
  gap: 50px;
}
.page-discography .high_1 .high, .page-discography .high_1 .medium {
  display: flex;
  gap: 50px;
  position: relative;
  top: 48px;
}
.page-discography .high_1 .high .album, .page-discography .high_1 .medium .album {
  height: 319px;
}
.page-discography .high_1 .high .album .name, .page-discography .high_1 .medium .album .name {
  margin: 18px 0 0;
  font-family: Roboto-Bold, sans-serif;
  line-height: 27px;
  font-size: 18px;
}
.page-discography .high_1 .high .album .year, .page-discography .high_1 .medium .album .year {
  margin: 0;
  line-height: 24px;
  font-size: 16px;
}
.page-discography .low {
  display: flex;
  gap: 50px;
  position: relative;
  top: 73px;
}
.page-discography .low .album {
  height: 319px;
}
.page-discography .low .album .name {
  margin: 18px 0 0;
  font-family: Roboto-Bold, sans-serif;
  line-height: 27px;
  font-size: 18px;
}
.page-discography .low .album .year {
  margin: 0;
  line-height: 24px;
  font-size: 16px;
}

.page-similar {
  color: #ffffff;
  margin: 0 auto;
  padding: 100px 20px 0;
  display: flex;
  flex-direction: column;
  height: 768px;
  margin-bottom: 100px;
}
@media only screen and (min-width: 1240px) {
  .page-similar {
    max-width: 1240px;
  }
}
.page-similar h2 {
  margin: 0;
}
.page-similar .top_1 {
  margin-top: 48px;
}
.page-similar .top_2 {
  margin-top: 25px;
}
.page-similar .items, .page-similar .items .two_items {
  display: flex;
  gap: 50px;
}
.page-similar .items .two_items .item {
  text-align: center;
  height: 319px;
}
.page-similar .items .two_items .item img {
  border-radius: 125px;
}
.page-similar .items .two_items .item h3 {
  font-size: 18px;
  margin: 17px 0 0;
}
.page-similar .items .two_items .item p {
  font-size: 16px;
  margin: 1px 0 0;
}