@font-face {
  font-family: Roboto;
  src: url("/src/fonts/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Arial;
  src: url("/src/fonts/arialmt.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Roboto-Bold;
  src: url("/src/fonts/Roboto-Bold.ttf");
  font-weight: 700;
  font-style: bold;
}
h1 {
  font-size: 30px;
  line-height: 45px;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  text-transform: uppercase;
}

.header .container .page-description form .submit, .header .container .menu nav ul, .header .container .menu nav {
  padding: 0;
  margin: 0;
}

.header .container .page-description form .submit, .header .container .menu input {
  width: 374px;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 0;
}

.header {
  width: 374px;
  height: 625px;
  padding: 27px 20px 200px;
}
.header .container {
  width: 374px;
  margin: 0;
}
.header .container .menu {
  flex-direction: column;
  align-items: start;
  gap: 17px;
}
.header .container .menu .logo {
  width: 100%;
  height: 24px;
  gap: 4%;
}
.header .container .menu nav {
  position: relative;
}
.header .container .menu nav ul {
  flex-direction: column;
  align-items: start;
  gap: 3px;
}
.header .container .page-description {
  margin-top: 199px;
  text-align: center;
}
.header .container .page-description .title_p {
  top: 16px;
}
.header .container .page-description form {
  flex-direction: column;
  align-items: center;
  top: 48px;
}
.header .container .page-description form input {
  width: 374px;
  box-sizing: border-box;
}
.header .container .page-description form .submit {
  min-width: 374px;
  text-align: center;
}

main {
  padding: 0 20px;
}
main .container {
  width: 374px;
  margin: 0;
}
main .container h2 {
  font-size: 18px;
}
main .container .forms {
  flex-direction: column;
  align-items: center;
  gap: 26px;
}
main .container .forms .form_size {
  width: 100%;
  height: 621px;
  background-position: top;
}
main .container .forms .form_size .form_type {
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}
main .container .forms .form_size .price {
  top: 179px;
}
main .container .forms .form_size button {
  width: 326px;
  top: 220px;
}
main .container .forms .form_size .form_parag {
  top: 284px;
}
main .container .subsc_parag {
  top: 169px;
}

.eminem {
  flex-direction: column;
}

.last_news > .ozzy {
  flex-direction: column;
  position: relative;
  top: 297px;
}

.cont {
  width: 374px;
  height: 186px;
  background-size: cover;
}
.cont .album_name {
  font-size: 16px;
  color: #ffffff;
}
.cont .album_discr {
  top: 16px;
}
.cont .logo_date {
  top: 32px;
  font-size: 12.8px;
}
.cont .to_album {
  top: 80px;
  font-size: 12.8px;
}

.mobile_app {
  top: 520px;
}
.mobile_app .mobile_cont {
  flex-direction: column-reverse;
  gap: 16px;
  width: 374px;
}
.mobile_app .mobile_cont .mobile_text {
  width: 374px;
}

.footer {
  top: 665px;
  height: 957px;
}
.footer .container {
  padding: 0 20px;
}
.footer .container .info {
  flex-direction: column;
  gap: 30px;
}
.footer .container .shop {
  top: 167px;
  flex-direction: column;
  align-items: start;
  gap: 16px;
}
.footer .container .shop .p_footer {
  margin: 0;
}