@font-face {
  font-family: Roboto;
  src: url("/src/fonts/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Arial;
  src: url("/src/fonts/arialmt.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Roboto-Bold;
  src: url("/src/fonts/Roboto-Bold.ttf");
  font-weight: 700;
  font-style: bold;
}
h1 {
  font-size: 30px;
  line-height: 45px;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  text-transform: uppercase;
}

.page-description .container .menu nav ul, .page-description .container .menu nav, .page-description_3 .container .page-description_1 form .submit, .page-description_3 .container .menu nav ul, .page-description_3 .container .menu nav {
  padding: 0;
  margin: 0;
}

.page-description .container .menu input, .page-description_3 .container .page-description_1 form .submit, .page-description_3 .container .menu input {
  width: 374px;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 0;
}

.page-description_3 {
  width: 374px;
  height: 625px;
  padding: 25px 20px 201px;
  font-family: "Roboto", "sans-serif";
}
.page-description_3 .container {
  width: 374px;
  margin: 0;
  height: 625px;
}
.page-description_3 .container .menu {
  flex-direction: column;
  align-items: start;
  gap: 0;
  height: 150px;
}
.page-description_3 .container .menu .logo {
  width: 100%;
  height: 24px;
  gap: 16px;
  flex-grow: 0;
  font-family: "Roboto-Bold", "sans-serif";
}
.page-description_3 .container .menu .logo p {
  height: 13px;
  margin: 3px 0 9px;
}
.page-description_3 .container .menu nav {
  position: relative;
  flex-grow: 0;
  top: 15px;
  font-family: "Roboto", "sans-serif";
}
.page-description_3 .container .menu nav ul {
  flex-direction: column;
  align-items: start;
  height: 61px;
  gap: 3px;
}
.page-description_3 .container .menu nav ul li {
  height: 13px;
}
.page-description_3 .container .menu input {
  height: 30px;
  position: relative;
  top: 36px;
  border: 0;
}
.page-description_3 .container .page-description_1 {
  margin-top: 72px;
  text-align: center;
  height: 402px;
}
.page-description_3 .container .page-description_1 p {
  top: 16px;
  width: 374px;
}
.page-description_3 .container .page-description_1 form {
  flex-direction: column;
  align-items: center;
  top: 33px;
  gap: 24px;
}
.page-description_3 .container .page-description_1 form input {
  width: 374px;
  font-family: "Roboto", "sans-serif";
  padding: 0 0 0 20px;
}
.page-description_3 .container .page-description_1 form .submit {
  text-align: center;
  border: 0;
}

main {
  padding: 0 0;
}
main .container {
  width: 414px;
  margin: 0;
}
main .container .page-pricing {
  height: 2120px;
  padding: 100px 20px 0;
}
main .container .page-pricing h2 {
  font-size: 18px;
}
main .container .page-pricing .forms {
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
main .container .page-pricing .forms .form_size {
  width: 374px;
  height: 595px;
  background-position: top;
}
main .container .page-pricing .forms .form_size .form_type {
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}
main .container .page-pricing .forms .form_size .price {
  top: 187px;
}
main .container .page-pricing .forms .form_size button {
  width: 326px;
  top: 228px;
}
main .container .page-pricing .forms .form_size .form_parag {
  top: 292px;
  width: 326px;
}
main .container .page-pricing .forms .free {
  height: 598px;
}
main .container .page-pricing .subsc_parag {
  height: 120px;
}

.page-news {
  height: 1116px;
  padding: 100px 20px 0;
}

.page-news > .eminem {
  flex-direction: column;
  height: 492px;
  width: 374px;
}
.page-news > .eminem .em {
  height: 186px;
  width: 376px;
  background-size: cover;
}
.page-news > .eminem .cont {
  height: 256px;
}
.page-news > .eminem .cont .logo_date {
  top: 40px;
}
.page-news > .eminem .cont .to_album {
  top: 88px;
}

.page-news > .ozzy {
  flex-direction: column;
  position: relative;
  top: 112px;
  height: 485px;
  width: 374px;
}
.page-news > .ozzy .oz {
  height: 186px;
  width: 376px;
  background-size: cover;
}

.cont {
  width: 374px;
  height: 248px;
  background-size: cover;
}
.cont .album_name {
  font-size: 16px;
  color: #ffffff;
}
.cont .album_discr {
  top: 16px;
}
.cont .logo_date {
  top: 32px;
  font-size: 12.8px;
}
.cont .to_album {
  top: 80px;
  font-size: 12.8px;
}

.page-app {
  height: 622px;
  padding: 100px 20px 0;
}
.page-app h2 {
  padding-left: 5px;
}
.page-app .mobile_cont {
  flex-direction: column-reverse;
  gap: 0;
  height: 546px;
  top: 47px;
}
.page-app .mobile_cont .mobile_text {
  margin: 15px 0 20px;
  height: 92px;
  width: 390px;
  position: relative;
  font-family: "Roboto";
}
.page-app .mobile_cont .mobile_text_2 {
  position: relative;
  width: 384px;
  margin-bottom: 17px;
}
.page-app .mobile_cont .download {
  position: relative;
  border: 0;
}
.page-app .mobile_cont .iphone {
  width: 333px;
  height: 278px;
  margin: 0 auto;
}

.footer {
  height: 957px;
}
.footer .container_footer {
  padding: 62px 20px 76px;
  height: 548px;
}
.footer .container_footer .info {
  flex-direction: column;
  gap: 30px;
}
.footer .container_footer .info .about_logos {
  gap: 21px;
}
.footer .white_line {
  top: 0;
}
.footer .container_footer-1 {
  padding: 40px 20px 47px;
  height: 184px;
}
.footer .container_footer-1 .shop {
  top: 0;
  flex-direction: column;
  align-items: start;
  gap: 16px;
}
.footer .container_footer-1 .shop .p_footer {
  margin: 0;
}

.page-description .container .menu nav ul, .page-description .container .menu nav, .page-description_3 .container .menu nav, .page-description_3 .container .menu nav ul, .page-description_3 .container .page-description_1 form .submit {
  padding: 0;
  margin: 0;
}

.page-description .container .menu input, .page-description_3 .container .menu input, .page-description_3 .container .page-description_1 form .submit {
  width: 374px;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 0;
}

.morten {
  height: 480px;
}

.page-description {
  height: 730px;
}
.page-description .container {
  width: 374px;
  height: 481px;
  margin: 0 auto;
  padding: 25px 20px 225px;
}
.page-description .container .menu {
  flex-direction: column;
  align-items: start;
  gap: 17px;
  height: 145px;
}
.page-description .container .menu .logo {
  width: 100%;
  height: 24px;
  gap: 4%;
}
.page-description .container .menu nav {
  position: relative;
}
.page-description .container .menu nav ul {
  flex-direction: column;
  align-items: start;
}
.page-description .container .menu nav ul li {
  height: 13px;
}
.page-description .container .page-description_2 {
  margin-top: 55px;
  height: 281px;
}
.page-description .container .page-description_2 form {
  flex-direction: column;
  align-items: start;
}

.page-popular-track {
  width: 374px;
  padding: 100px 20px 0;
  height: 530px;
}
.page-popular-track h2 {
  font-size: 18px;
}
.page-popular-track .tracks {
  flex-direction: column;
  gap: 25px;
  width: 374px;
}
.page-popular-track .tracks .left {
  gap: 25px;
  flex-direction: column;
}
.page-popular-track .tracks .left .track {
  width: 374px;
}

.page-discography {
  width: 374px;
  padding: 100px 20px 0;
  height: 797px;
}
.page-discography h2 {
  font-size: 18px;
}
.page-discography .high_1 {
  flex-direction: column;
  gap: 25px;
  position: relative;
  top: 48px;
  height: 464px;
}
.page-discography .high_1 .high, .page-discography .high_1 .medium {
  flex-wrap: wrap;
  gap: 50px;
  top: 0;
}
.page-discography .high_1 .high .album, .page-discography .high_1 .medium .album {
  height: 206px;
  width: 137px;
}
.page-discography .high_1 .high .album img, .page-discography .high_1 .medium .album img {
  height: 137px;
  width: 137px;
}
.page-discography .high_1 .high .album .name, .page-discography .high_1 .medium .album .name {
  font-size: 18px;
  width: 130px;
}
.page-discography .high_1 .high .album .name_1, .page-discography .high_1 .medium .album .name_1 {
  width: 145px;
}
.page-discography .high_1 .high .album .year, .page-discography .high_1 .medium .album .year {
  font-size: 16px;
}
.page-discography .low {
  top: 75px;
  height: 233px;
}
.page-discography .low .album {
  height: 206px;
  width: 137px;
}
.page-discography .low .album img {
  height: 137px;
  width: 137px;
}
.page-discography .low .album .name {
  font-size: 18px;
  width: 130px;
}
.page-discography .low .album .name_1 {
  width: 145px;
}
.page-discography .low .album .year {
  font-size: 16px;
}

.page-similar {
  width: 374px;
  padding: 100px 20px;
  height: 1070px;
}
.page-similar h2 {
  font-size: 18px;
}
.page-similar .items {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
.page-similar .items .two_items {
  display: flex;
  gap: 50px;
}
.page-similar .items .two_items .item {
  text-align: center;
  height: 230px;
}
.page-similar .items .two_items .item img {
  width: 137px;
  height: 137px;
  border-radius: 68px;
}
.page-similar .items .two_items .item h3 {
  font-size: 18px;
  margin: 10px 0 0;
}
.page-similar .items .two_items .item p {
  font-size: 16px;
  margin: 1px 0 0;
  width: 137px;
  height: 48px;
}