@font-face {
    font-family: Roboto;
    src: url("/src/fonts/Roboto-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Arial;
    src: url("/src/fonts/arialmt.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Roboto-Bold;
    src: url("/src/fonts/Roboto-Bold.ttf");
    font-weight: 700;
    font-style: bold;
}


body {
    font-family: Roboto;
    line-height: 1.5;
    color: #cacaca;
    background-color: #08020d;
    margin: 0;
}
h1 {
    font-size: 60px;
    line-height: 90px;
    font-weight: bold;
    text-transform: uppercase;
}
h2{
    font-size: 38px;
    line-height: 57px;
    font-weight: bold;
    text-transform: uppercase;
}
.page-description {
    @media only screen and (min-width: 1240px) {
        max-width: 1200px;
    }
}
.header {
    background-image: url("/src/images/banner.png");
    background-position: center;
    background-size: cover;
    padding: 25px 0 200px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.menu {
    display: flex;
    gap: 2.5%;
    align-items: center;
    height: 25px;
    padding: 0;
    font-size: 11px;
    text-transform: uppercase;
    font-family: 'Roboto';
}
.logo {
    display: flex;
    gap: 15%;
    flex-grow: 0.2;
    width: 25px;
    align-items: center;
    color: #FFFFFF;
}
.nav {
    display: flex;
    gap: 3%;
    list-style: none;
}
.nav-list {
    flex-grow: 0.9;
    color: #CACACA;
}
.search {
    width: 248px;
    height: 25px;
    background-color: #3C3B3D;
    border-radius: 50px;
    padding: 5px 180px 5px 10px;
    color: #757575;
    font-size: 13.3px;
    font-family: 'Arial';
    text-transform: uppercase;
}
.page-description {
    height: 350px;
    margin-top: 150px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title_1 {
    margin: 0;
    font-family: 'Roboto-Bold';
}
.title_2 {
    margin: 0;
    font-family: 'Roboto-Bold';
}
.title_p {
    margin:0;
    position: relative;
    top: 31px;
    font-size: 16px;
}
.input_name,
.input_email {
    min-width: 273px;
    min-height: 50px;
    padding-left: 20px;
    border: solid 2px #cacaca;
    border-radius: 3px;
    box-sizing: border-box;
    background: transparent;
}
.input_name::placeholder,
.input_email::placeholder {
    color: #ffffff;
    font-family: 'Roboto-Bold';
    font-size: 14px;
}
.submit {
    min-width: 570px;
    min-height: 57px;
    background-color: #34C176;
    border-radius: 5px;
    color: #ffffff;
    text-transform: uppercase;
    padding: 21px 220px;
    box-sizing: border-box;
    font-size: 13px;
}
.form {
    display: flex;
    max-width: 570px;
    flex-wrap: wrap;
    position: relative;
    top: 48px;
    gap: 24px;
}